.products-item {
    height: 412px;
    width: 354px;
    padding: 16px;
    color: #1d1f22;
}

.products-item:hover {
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.products-item:hover .circle-icon {
    display: block;
}

.products-item-img-container {
    height: 330px;
    margin-bottom: 24px;
    position: relative;
}

.products-item-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.products-item-img--disabled {
    opacity: 0.5;
}

.circle-icon-button {
    background-color: #ffffff;
    border: none;
}

.circle-icon {
    cursor: pointer;
    position: absolute;
    width: 52px;
    height: 52px;
    right: 5px;
    bottom: -30px;
    display: none;
}

.text-on-image {
    position: absolute;
    left: 25.42%;
    right: 25.71%;
    top: 44.24%;
    bottom: 43.94%;
    color: #8d8f9a;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
}

.products-item-description-name {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
}

.products-item-description-price {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
}

.product-item-link {
    text-decoration: none;
}

.products-item-description {
    color: #1d1f22;
}

.products-item-description--disabled {
    color: #8d8f9a;
}
