.dropdown-element {
    display: flex;
    padding: 0.5rem 2rem;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    cursor: pointer;
}

.dropdown-element:hover {
    background-color: #eeeeee;
}

.activeDropdown {
    background-color: #eeeeee;
}
